    /* NAV LINKS BOTONES */
    .CardWidget {
        color: white;
        font-size: 20px;
      }
  
      .CardWidget:hover {
        color: #bababa;
        transition: 0.3s;
        background-color: rgb(115, 56, 11);
        border-radius: solid 10px;
      }
